.applications{
    position:fixed;
    top:60px;
    width:100%;
    min-height:calc(100vh - 60px);

    >.top_applications{
        margin:2rem;
    }

    >.content{
        margin:2rem;
        >table{
            width:100%;

            >tbody{
                >tr{
                 >td{
                     font-size: 0.8rem;
                    &.actions{
                        display:flex;
                        align-items: center;
                        justify-content:center;
                        >button{
                            margin-right:0.5rem;
                            margin-left:0.5rem;
                            border:none;
                            background-color: transparent;
                            cursor:pointer;
                        }
                    }
                 }   
                }
            }
        }
    }
}